PyJWT
cryptography
Flask
flask_cors
python-dotenv 
gunicorn
pydantic 
psycopg2-binary
pytest
flake8
Flask-Pydantic
email-validator
pytest-cov
pytest-mock
flasgger
flask-restful
Flask-Limiter 
redis
pydantic_settings
requests